<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="top">
  <h1>Nossos produtos</h1>
</div>    

<p>Lorem ipsum dolor sit amet conse.</p>

<div id="listando" *ngIf="!mododeedicao">
  <ion-item *ngFor="let arrayProdutos of todosProdutos" routerLink="/detalhes/{{arrayProdutos.id.value}}">
    <ion-label>{{arrayProdutos.nome}}</ion-label>
  </ion-item> 
</div>



</ion-content>
