<ion-header>
  <ion-toolbar>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item >
    <ion-label>Nome:</ion-label>
    <p>{{detalhesProduto.nome}}</p>
  </ion-item>
  <ion-item>
    <ion-label>desc_breve:</ion-label>
    <p>{{detalhesProduto.desc_breve}}</p>
  </ion-item>
  <ion-item >
    <ion-label>fornecedor:</ion-label>
    <p>{{detalhesProduto.fornecedor}}</p>
  </ion-item>
  <ion-item >
    <ion-label>valor:</ion-label>
    <p>{{detalhesProduto.valor}}</p>
  </ion-item>
  <ion-item>
    <ion-label>quantidade:</ion-label>
    <p>{{detalhesProduto.quantidade}}</p>
  </ion-item>

</ion-content>
