
<ion-content>

  <div id="top">
    <h1>Cadastrar produto</h1>
  </div>    
  
  <p>Lorem ipsum dolor sit amet conse.</p>

  <div id="formulario">

    <div id="info-principa">
      <form>

        <ion-item>
          <ion-label position="floating"> Nome:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Descrição breve:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Fornecedor:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item id="part2">
          <ion-label position="floating"> Valor de venda:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Quantidade em estoque:</ion-label>
          <ion-input type="text" placeholder="0"></ion-input>
        </ion-item>

      </form>

    </div>

  </div>

</ion-content>
